public/index.html
<!DOCTYPE html><!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]--><!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]--><!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta http-equiv="cleartype" content="on">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Haiku">
    <meta name="description" content="">
    <meta name="author" content="Rafał Pastuszak &lt;rafal@paprikka.pl&gt;">
    <meta name="robots" content="noindex">
    <title>Haiku - remote</title>
    <link rel="stylesheet" href="css/app.css">
    <script>
      (function() {
        var method;
        var noop = function noop() {};
        var methods = [
            'assert', 'clear', 'count', 'debug', 'dir', 'dirxml', 'error',
            'exception', 'group', 'groupCollapsed', 'groupEnd', 'info', 'log',
            'markTimeline', 'profile', 'profileEnd', 'table', 'time', 'timeEnd',
            'timeStamp', 'trace', 'warn'
        ];
        var length = methods.length;
        var console = (window.console = window.console || {});
        
        while (length--) {
            method = methods[length];
            
            // Only stub undefined methods.
            if (!console[method]) {
                console[method] = noop;
            }
        }
      }());
    </script><!--[if lte IE 8]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="js/modernizr.js"></script>
  </head>
  <body ng-controller="AppCtrl" ng-app="app" id="ng-app">
    <div class="viewport">
      <div ng-view class="viewport__content"></div>
    </div>
    <script src="//hub.sonnet.io/socket.io/socket.io.js"></script>
    <script>
      window.haiku = {
        config: {
          hubURL: '//hub.sonnet.io'
        }
      }
    </script>
    <script src="js/vendor.js"></script>
    <script>
      $(function(){
        $('body').on('touchmove', function (e) {
           if (!$('.scrollable').has($(e.target)).length) e.preventDefault();
        });
      });
      
    </script>
    <script src="js/templates.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

src/index.jade
!!! 5
//if lt IE 7
    <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
//if IE 7
    <html class="no-js lt-ie9 lt-ie8" lang="en">
//if IE 8
    <html class="no-js lt-ie9" lang="en">
<!--[if gt IE 8]><!-->
html(class="no-js", lang="en")
  // <![endif]

  include head
  body(ng-controller='AppCtrl', ng-app="app", id="ng-app")
    .viewport
      .viewport__content(ng-view)

    script(src="@@hubURL/socket.io/socket.io.js")
    script
      window.haiku = {
        config: {
          hubURL: '@@hubURL'
        }
      }
    script(src='js/vendor.js')
    script
      $(function(){
        $('body').on('touchmove', function (e) {
           if (!$('.scrollable').has($(e.target)).length) e.preventDefault();
        });
      });

    script(src='js/templates.js')
    script(src='js/app.js')
